<!-- Educacion -->
<section class="about-us-section position-relative text-white mb-5">
    <img src="assets/img/educativo.jpg" class="about-us-img w-75 d-block mx-auto" alt="Equipo COONADOC">

    <h1 class="about-us-title position-absolute top-50 start-50 translate-middle display-3 fw-bold" style="color: #ff6600;">Educacion</h1>

    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.3); z-index: 1;"></div>
</section>

<!-- Video educacion -->
<section class="video-banner-section py-5 my-5 bg-white text-center">
    <div class="position-relative d-inline-block">
      <video id="miVideo" muted playsinline class="w-50">
        <source src="assets/videos/video-educacion.mp4" type="video/mp4">
      </video>
      <button class="btn btn-success position-absolute top-50 start-50 translate-middle"
              onclick="document.getElementById('miVideo').play(); this.style.display='none';">
        ▶ 
      </button>
    </div>
  </section>
  

  <section class="about-section py-5">
    <div class="container">
      <div class="row">
  
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100 text-center shadow-sm">
            <img src="assets/img/Campus.png" class="card-img-top p-4" alt="Campus Virtual">
            <div class="card-body">
              <h5 class="card-title">Campus Virtual</h5>
              <p class="card-text text-secondary">
                Contamos con una plataforma de formación en línea llamada Campus Virtual, 
              donde encontraras cursos y capacitaciones en áreas como cooperativismo, finanzas personales, 
              liderazgo y desarrollo humano. Esta herramienta permite a los asociados acceder a 
              contenidos educativos desde cualquier lugar, promoviendo el aprendizaje continuo y la 
              actualización de conocimientos.
              </p>
            </div>
          </div>
        </div>
  
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100 text-center shadow-sm">
            <img src="assets/img/asociados.jpg" class="card-img-top p-4" alt="Otro Servicio">
            <div class="card-body">
              <h5 class="card-title">Cursos de Inducción para Nuevos Asociados</h5>
              <p class="card-text text-secondary">
                Como parte de su compromiso con la educación cooperativa, Coonadoc ofrece cursos de inducción dirigidos 
                a nuevos asociados. Estos cursos tienen como objetivo familiarizar a los participantes con los principios 
                del cooperativismo, los servicios que ofrece la cooperativa y las responsabilidades que conlleva ser parte 
                de la comunidad Coonadoc.
              </p>
            </div>
          </div>
        </div>
  
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100 text-center shadow-sm">
            <img src="assets/img/credito2.jpeg" class="card-img-top p-4" alt="Tercer Servicio">
            <div class="card-body">
              <h5 class="card-title">Créditos Educativos</h5>
              <p class="card-text text-secondary">
                Coonadoc proporciona créditos educativos diseñados para apoyar a sus asociados y sus familias en la financiación 
                de estudios en diversos niveles académicos, desde educación básica hasta posgrados. Estos créditos buscan 
                facilitar el acceso a la educación y promover el crecimiento profesional de la comunidad cooperativa.
              </p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  