<section class="conocenos-section my-5 py-5">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6 ">
                <h2 class="fw-bold mb-3">¿Quiénes Somos?</h2>
                <p class="mb-4">Cooperativa solidaria fundada en 1988 por docentes. Ofrecemos servicios financieros con
                    responsabilidad social, generando bienestar para nuestros asociados a través de un modelo sostenible
                    que beneficia a toda la comunidad.</p>
                <a class="btn btn-more" [routerLink]="'/conocenos/quienes-somos'">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
            <div class="col-md-6 video-banner">
                <div class="video-container">
                    <video #videoEl muted loop playsinline (ended)="videoEl.play()"
                        (click)="onVideoClick(videoEl, playBtn)">
                        <source src="assets/videos/COONADOC.mp4" type="video/mp4">
                    </video>
                    <button class="play-btn" #playBtn (click)="toggleVideo(videoEl, playBtn, $event)">
                        ▶
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="conocenos-section bg-light">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Politicas y Formatos</h2>
                <p class="mb-4">Nuestras políticas están diseñadas para garantizar transparencia y eficiencia en todos
                    nuestros procesos. Aquí encontrarás los formatos oficiales y documentos necesarios para realizar
                    solicitudes, y autorizaciones.</p>
                <a class="btn btn-more" [routerLink]="'/conocenos/politicas'">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="assets/img/rec/formatos-1.png" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section class="conocenos-section">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3">Peticiones, Quejas, Reclamos y Sugerencias</h2>
                <p class="mb-4">Tu opinión es importante para nosotros. Contamos con un sistema para gestionar
                    PQRSDF, garantizando respuestas oportunas y soluciones efectivas.</p>
                <a class="btn btn-more" [routerLink]="'/conocenos/pqrsdf'">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
            <div class="col-md-6">
                <img src="assets/img/rec/pqrsdf-1.png" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section class="conocenos-section bg-light pb-5 my-5">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Preguntas Frecuentes</h2>
                <p class="mb-4">Encuentra respuestas rápidas a las dudas más comunes sobre nuestros servicios, procesos
                    y requisitos. Hemos recopilado esta información para brindarte un acceso más fácil a la información
                    que necesitas.</p>
                <a class="btn btn-more" [routerLink]="'/faq'">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="assets/img/rec/faq-2.png" class="faq img-fluid rounded">
            </div>
        </div>
    </div>
</section>