<footer class="bg-white pt-5 pb-3 border-top">
    <div class="container">
      <div class="row gy-4">
        
        <!-- Columna 1 -->
        <div class="col-md-3">
          <h3 class="fw-bold">Recibe nuestras últimas actualizaciones.</h3>
          <form class="mt-3 d-flex">
            <input type="email" class="form-control rounded-start" placeholder="Su dirección de correo electrónico">
            <button class="btn btn-outline-dark rounded-end" type="submit">
              &rarr;
            </button>
          </form>
        </div>
  
        <!-- Columna 2 -->
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a routerLink="/conocenos/quienes-somos" >Quienés Somos</a></li>
            <li><a routerLink="/contacto" >Contacto</a></li>
            <li><a routerLink="/servicios" >Servicios</a></li>
            <li><a routerLink="/conocenos/clasificados" >Clasificados</a></li>
            <li><a routerLink="/pagos" >Pagos</a></li>
          </ul>
        </div>
  
        <!-- Columna 3 -->
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><a href="#" >Preguntas frecuentes</a></li>
            <li><a href="#" >Política de privacidad</a></li>
            <div class="vigila">
              <img src="assets/img/logos/LOGO-VIGILADO-SUPERSOLIDARIA.png">
            </div>
          </ul>
        </div>
  
        <!-- Columna 4 -->
        <div class="col-md-3">
          <address class="mb-1">
            Cra. 16 # 30 - 63, Bogotá, Colombia
          </address>
          <p class=" mb-2">(+57) 601 7523313</p>
          <p class=" mb-2">servicioalclientecoonadoc&#64;gmail.com</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/COONADOC/" ><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com/Coonadoc" ><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/coopcoonadoc/" ><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCV9denEEUEbxAt2uLwbnaDg" ><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
  
      <hr class="my-4">
  
      <div class="d-flex justify-content-between flex-wrap small">
        <div>
          &copy;2025 Miguel Angel Sepulveda Burgos
        </div>
      </div>
    </div>
</footer>  