<div class="d-flex">
  <div class="bg-light p-2" style="width: 170px; min-height: 100vh;">
    <h5>Menú</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/', role, '']" routerLinkActive="active" class="nav-link">Certificados</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'politicas']" routerLinkActive="active" class="nav-link">Formularios</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'form-credito']" routerLinkActive="active" class="nav-link">Solicitar crédito</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, '']" routerLinkActive="active" class="nav-link">Actualizar datos</a>
      </li>
      <li class="nav-item">
        <a href="https://campus.coonadoc.co/login/index.php" target="_blank" rel="noopener noreferrer"
          class="nav-link">Campus</a>
      </li>
      <li class="nav-item cerrar">
        <a routerLink="/inicio" (click)="logout()" class="nav-link">Cerrar Sesión</a>
      </li>
    </ul>
  </div>

  <div class="p-4 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>