<section class="app-section position-relative text-white">
    <img src="assets/img/backgrounds/bg_10.png" class="app-img w-100">
    <h1 class="app-title position-absolute top-50 start-50 translate-middle display-3 fw-bold text-center">APP COONADOC</h1>
</section>

<section class="description-content container my-5">
    <div class="banner__text text-center">
        <p class="subtitle text-muted mb-0">Lleva la app Coonadoc en tu bolsillo. Accede a todos nuestros servicios de manera rápida y
            segura.</p>
    </div>
</section>

<section class="section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img src="https://img.freepik.com/foto-gratis/plano-endecha-concepto-negocio_53876-33533.jpg?semt=ais_hybrid&w=740" alt="Consultar estado de cuenta"
                    class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-title">Consulta tus aportes</h2>
                <p class="section-text">
                    Revisa tus aportes en tiempo real desde cualquier lugar.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-md-2 mb-4 mb-md-0">
                <img src="./assets/img/rec/creditos-2.png" alt="Solicitar créditos"
                    class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h2 class="section-title">Solicita créditos</h2>
                <p class="section-text">
                    Solicita tus créditos de forma sencilla, con aprobación más rápida.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img src="https://www.elpais.com.co/resizer/v2/JFRZQ4JICREXZCO4GQPC36LMSQ.jpg?auth=06b36a19b7daee6968543f8d5f735b7c4f520f0932b5ec1d5083bd12838033ba&smart=true&quality=75&width=1280"
                alt="Beneficios de convenio"
                class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-title">Solicita beneficios de convenio</h2>
                <p class="section-text">
                    Accede a los beneficios exclusivos que tenemos para ti por ser sociado de coonadoc.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-md-2 mb-4 mb-md-0">
                <img src="https://img.freepik.com/foto-gratis/personas-que-usan-tableta-aplicacion-banco_1098-21610.jpg?semt=ais_hybrid&w=740"
                alt="Actualizar datos"
                class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h2 class="section-title">Actualiza tus datos personales</h2>
                <p class="section-text">
                    Mantén tu información actualizada para recibir notificaciones y beneficios personalizados.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img src="https://img.freepik.com/fotos-premium/mujer-que-usa-pago-contacto-telefono-movil-codigo-qr-cafe_179755-21160.jpg?semt=ais_hybrid&w=740"
                alt="Descargar certificados"
                class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-title">Descarga certificados</h2>
                <p class="section-text">
                    Obtén tus certificados de forma inmediata sin necesidad de trasladarte.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-md-2 mb-4 mb-md-0">
                <img src="https://img.freepik.com/foto-gratis/joven-disenadora-trabajando_23-2149142102.jpg?semt=ais_hybrid&w=740" alt="Atención al cliente"
                    class="section-image object-fit-cover h-100 w-100 rounded-4">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h2 class="section-title">Atención al cliente</h2>
                <p class="section-text">
                    Contáctanos directamente desde la app para resolver tus dudas y consultas.
                </p>
                <button class="download-btn text-white border-0">Descargar APP PWA</button>
            </div>
        </div>
    </div>
</section>