<div class="d-flex">
  <div class="bg-light p-2" style="width: 170px; min-height: 100vh;">
    <h5>Menú</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/', role, 'manage-clasificado']" class="nav-link">Clasificados</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'publish-clasificado']" class="nav-link">Publicar clasificado</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'get-pqrsdf']" class="nav-link">PQRSDF</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'get-credito-f']" class="nav-link">Solicitudes crédito</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'get-correo-f']" class="nav-link">Correos</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/', role, 'get-pregunta-f']" class="nav-link">Mensajes contacto</a>
      </li>
      <li class="nav-item cerrar">
        <a routerLink="/inicio" (click)="logout()" class="nav-link">Cerrar Sesión</a>
      </li>
    </ul>
  </div>

  <div class="p-4 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>