<section class="afiliarse-section position-relative text-white">
    <img src="assets/img/backgrounds/bg_10.png" class="afiliarse-img w-100">
    <h1 class="afiliarse-title position-absolute top-50 start-50 translate-middle display-3 fw-bold text-white">AFÍLIATE
    </h1>
</section>

<section class="quienes-section my-5">
    <div class="container py-5">
        <div class="row align-items-stretch gap-5">
            <div class="col-md-6 order-md-2">
                <span class="organization-badge">¿Quiénes </span>
                <span class="reasons-text mx-2"> pueden afiliarse?</span>
                <ul class="list-group list-group-flush pt-3">
                    <li>Docentes y directivos docentes oficiales en propiedad.</li>
                    <li>Personal administrativo activo del sector educativo oficial.</li>
                    <li>Familiares hasta tercer grado de consanguinidad y primer grado civil.</li>
                    <li>Docentes provisionales con vinculación indefinida.</li>
                    <li>Docentes de colegios privados con +5 años de antigüedad.</li>
                    <li>Docentes y personal de Integración Social.</li>
                    <li>Docentes de universidades públicas y privadas.</li>
                    <li>Pensionados.</li>
                    <li>Profesionales del área de la salud.</li>
                </ul>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div class="mb-3 overflow-hidden img-1">
                    <img src="assets/img/rec/quienes-1.png" class="object-fit-cover img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits-section my-5">
    <div class="container py-5">
        <div class="row justify-content-center mb-5">
            <div class="col-12 text-center">
                <span class="reasons-text mx-2">Beneficios para los</span>
                <span class="organization-badge">Asociados</span>
            </div>
        </div>
        <div class="benefits-container justify-content-center align-items-center my-4 d-flex position-relative">
            <div class="benefit-img">
                <img src="assets/img/rec/beneficios-1.png" class="img-fluid rounded object-fit-cover"
                    alt="Beneficios para asociados">
            </div>
            <div class="benefit-card-container d-flex">
                <div class="benefit-card benefit-1">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Participación en excedentes y beneficios sociales.</p>
                </div>
                <div class="benefit-card benefit-2">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Capacitación permanente en principios cooperativos.</p>
                </div>
                <div class="benefit-card benefit-3">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Elegir y ser elegido en órganos de dirección (mayores de 18 años).</p>
                </div>
                <div class="benefit-card benefit-4">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Acceso a servicios financieros, educativos, y de salud.</p>
                </div>
                <div class="benefit-card benefit-5">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Presentar iniciativas y participar en decisiones institucionales.</p>
                </div>
                <div class="benefit-card benefit-6">
                    <div class="benefits-shape">
                        <img src="assets/img/shapes/shape-9.png" alt="Decoración" class="img-fluid">
                    </div>
                    <p>Actividades recreativas y culturales.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="requisitos-section my-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <span class="organization-badge">Requisitos</span>
                <span class="reasons-text mx-2"> para Afiliarse</span>
                <ul class="list-group list-group-flush pt-3">
                    <li>Formulario de afiliación diligenciado.</li>
                    <li>Demostrar vínculo laboral o dependencia económica.</li>
                    <li>Pago de cuota mensual:
                        <ul>
                            <li>8% del SMMLV para activos.</li>
                            <li>5% para pensionados.</li>
                            <li>4% para dependientes menores de 25 años.</li>
                        </ul>
                    </li>
                    <li>Autorización de descuento por nómina o consignación.</li>
                    <li>Curso básico de educación cooperativa.</li>
                    <li>Información personal, laboral y económica completa.</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="assets/img/rec/requisitos-1.png" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section class="how-section my-5">
    <div class="container py-5">
        <div class="text-how text-center">
            <span class="organization-badge">¿Cómo </span>
            <span class="reasons-text mx-2">Afiliarse?</span>
        </div>
        <div class="row g-0 overflow-hidden rounded-4">
            <div class="col-md">
                <div class="p-4 h-100 text-white d-flex flex-column justify-content-between how-card-1">
                    <div>
                        <i class="bi bi-pencil-square fs-1 mb-3"></i>
                        <h5 class="fw-bold">Solicitar y diligenciar el formulario de afiliación.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="p-4 h-100 text-white d-flex flex-column justify-content-between how-card-2">
                    <div>
                        <i class="bi bi-file-earmark-text fs-1 mb-3"></i>
                        <h5 class="fw-bold">Adjuntar documentos requeridos.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="p-4 h-100 text-white d-flex flex-column justify-content-between how-card-3">
                    <div>
                        <i class="bi bi-cash-stack fs-1 mb-3"></i>
                        <h5 class="fw-bold">Realizar el primer aporte según categoría.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="p-4 h-100 text-white d-flex flex-column justify-content-between how-card-4">
                    <div>
                        <i class="bi bi-journal-bookmark fs-1 mb-3"></i>
                        <h5 class="fw-bold">Asistir al curso básico de educación cooperativa.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="p-4 h-100 text-white d-flex flex-column justify-content-between how-card-5">
                    <div>
                        <i class="bi bi-check-circle fs-1 mb-3"></i>
                        <h5 class="fw-bold">Esperar aprobación del Consejo de Administración.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>