<section class="herra-section position-relative text-white">
    <img src="assets/img/backgrounds/bg_10.png" class="herra-img w-100">
    <h1 class="herra-title position-absolute top-50 start-50 translate-middle display-3 fw-bold text-center">HERRAMIENTAS
    </h1>
</section>

<div class="container text-center py-5">
    <p class="subtitle">Descubre nuestras herramientas digitales</p>
    <p>Accede a la app, la oficina virtual y el campus</p>
</div>

<section class="sections">
    <div class="section">
        <div class="section-content">
            <h2>App</h2>
            <p>
                Descarga nuestra app y ten todos nuestros servicios al alcance de tu mano.
            </p>
            <button class="btn-primary text-white" routerLink="/herramientas/app">Ir a la App</button>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <h2>Oficina Virtual</h2>
            <p>
                Gestiona tus servicios de forma segura y cómoda.
                Consulta extractos y mucho más.
            </p>
            <button class="btn-primary text-white" routerLink="/herramientas/oficina">Ir a la Oficina Virtual</button>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <h2>Campus</h2>
            <p>Curso inducción asociados.</p>
            <button class="btn-primary text-white" routerLink="/herramientas/campus">Ir al Campus</button>
        </div>
    </div>
</section>