<div class="container">
    <section class="hero">
        <div class="hero-text">
        
            <h1>Herramientas</h1>
            <p class="subtitle">Descubre nuestras herramientas digitales</p>
            <p>Accede a la app, la oficina virtual y el campus</p>
        </div>
    </section>

    <section class="sections">
        <div class="section">
            <div class="section-content">
                <h2>App</h2>
                <p>
                    Descarga nuestra app y ten todos nuestros servicios al alcance de tu mano.
                    Consulta saldos, realiza transferencias y mucho más.
                </p>
                <button class="btn-primary" routerLink="app">Ir a la App</button>
            </div>
        </div>

        <div class="section">
            <div class="section-content">
                <h2>Oficina Virtual</h2>
                <p>
                    Accede a tu oficina virtual y gestiona tus servicios de forma segura y cómoda.
                    Realiza pagos, consulta extractos y mucho más.
                </p>
                <button class="btn-primary" routerLink="oficina">Ir a la Oficina Virtual</button>
            </div>
        </div>

        <div class="section">
            <div class="section-content">
                <h2>Campus</h2>
                <p>Amplía tus conocimientos y desarrolla nuevas habilidades en nuestro campus virtual.</p>
                <button class="btn-primary" routerLink="campus">Ir al Campus</button>
            </div>
        </div>
    </section>    
</div>

