<!-- Turismo -->
<section class="about-us-section position-relative text-white mb-5">
    <img src="assets/img/turismo.jpg" class="about-us-img w-100 d-block mx-auto" alt="Equipo COONADOC">
    <h1 class="about-us-title position-absolute top-50 start-50 translate-middle display-3 fw-bold" style="color: #ff6600; z-index: 2;">
      Turismo
    </h1>
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.3); z-index: 1;"></div>
  </section>
  

    <section class="about-section py-5">
        <div class="container">
          <div class="row">
      
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100 text-center shadow-sm">
                <img src="assets/img/turismo-ecuador.png" class="card-img-top p-4" alt="Campus Virtual">
                <div class="card-body">
                  <h5 class="card-title">Paquetes Turísticos Nacionales e Internacionales</h5>
                  <p class="card-text text-secondary">
                    Coonadoc organiza viajes a diversos destinos, tanto dentro de Colombia como en el extranjero. Estos paquetes están 
                    diseñados para ofrecer experiencias culturales, recreativas y de esparcimiento, adaptadas a las preferencias de los asociados. 
                    Algunos destinos promocionados incluyen Europa, México, Estados Unidos, Rusia, Turquía, Egipto e Israel.
                  </p>
                  <a href="pagina.html" class="btn btn-success mt-3" >Mas información</a>
                </div>
              </div>
            </div>
      
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100 text-center shadow-sm">
                <img src="assets/img/convenios/expoturismo.jpg" class="card-img-top p-4" alt="Otro Servicio">
                <div class="card-body">
                  <h5 class="card-title">Convenios con Agencias de Viajes</h5>
                  <p class="card-text text-secondary">
                    La cooperativa establece alianzas con agencias de viajes reconocidas, como Expoturismo Representaciones, 
                    para ofrecer a sus asociados tarifas preferenciales y servicios personalizados en la planificación de sus 
                    viajes.
                  </p>
                </div>
              </div>
            </div>
      
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
              <div class="card h-100 text-center shadow-sm">
                <img src="assets/img/convenios/panela-tours.jpg" class="card-img-top p-4" alt="Tercer Servicio">
                <div class="card-body">
                  <h5 class="card-title">Eventos y Actividades Culturales</h5>
                  <p class="card-text text-secondary">
                    la cooperativa promueve la participación en eventos culturales y festivales, 
                    como el Festival de las Luces en Villa de Leyva, brindando a los asociados la oportunidad de disfrutar 
                    de experiencias enriquecedoras y fortalecer los lazos comunitarios.
                  </p>
                </div>
              </div>
            </div>
      
          </div>
        </div>

    </section>