<section class="credit-section position-relative text-white">
    <img src="assets/img/backgrounds/bg_10.png" class="credit-img w-100">
    <h1 class="credit-title position-absolute top-50 start-50 translate-middle display-3 fw-bold text-center">SEGUROS
    </h1>
</section>

<section class="py-5 features-section">
    <div class="container">
        <h2 class="text-center mb-4">Protección integral para ti y tu familia</h2>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-sm border-0">
                    <div class="card-body p-4">
                        <p class="mb-0">Coonadoc pone a disposición de sus asociados y sus familias una completa oferta de seguros, orientada a brindar respaldo y tranquilidad en distintas áreas de la vida personal y familiar:</p>
                        <ul class="mt-3 mb-4">
                            <li><strong>Seguro de Vida:</strong> Protección financiera para tus seres queridos</li>
                            <li><strong>Seguro de Salud:</strong> Cobertura en atención médica y hospitalaria</li>
                            <li><strong>Seguro de Accidentes Personales:</strong> Respaldo ante imprevistos</li>
                            <li><strong>Seguro Exequial:</strong> Apoyo en momentos difíciles</li>
                            <li><strong>Seguro de Hogar:</strong> Protección para tu vivienda y pertenencias</li>
                            <li><strong>Seguro de Automóviles:</strong> Cobertura vehicular completa</li>
                            <li><strong>Seguro de Mascotas:</strong> Seguro de vida</li>
                        </ul>
                        <p>¡Contamos con convenios con MAPFRE, HDI, , y Seguros Mundial adaptados a tus necesidades y posibilidades!</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <a class="btn-lg text-white border-0">Conoce más sobre nuestros seguros</a>
        </div>
    </div>
</section>