<!-- Sobre Nosotros -->
<section class="about-us-section position-relative text-white mb-5">
    <img src="assets/img/somos_coonadoc_1.jpg" class="about-us-img w-100" alt="Equipo COONADOC">
    <h1 class="about-us-title position-absolute top-50 start-50 translate-middle display-3 fw-bold">Sobre Nosotros</h1>
</section>

<!-- Quiénes Somos -->
<section class="about-section py-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <small class="section-subtitle text-muted">¿QUIÉNES SOMOS?</small>
            </div>
            <div class="col-md-6 d-flex justify-content-around text-center mt-4 mt-md-0">
                <div class="about-us"> 
                    <h2 class="section-title mt-2">
                        Desde 1988, mejorarando la
                        calidad de vida de nuestros asociados y
                        sus familias.
                    </h2>
                    <p class="section-description mt-3 text-secondary">
                        Somos una cooperativa fundada por docentes con un modelo solidario orientado a servicios 
                        integrales de aporte y crédito de manera socialmente responsable, sostenible que genera 
                        una rentabilidad superior para fortalecer patrimonio y brindar bienestar a través de 
                        excedentes cooperativos que beneficien a todos sus asociados.
                    </p>
                    <div class="about-stat">
                        <div class="about-stat-item">
                            <h3 class="about-stat-number fw-bold">1,000+</h3>
                            <p class="about-stat-description text-muted mb-0">Asociados satisfechos</p>
                        </div>
                        <div class="about-stat-item">
                            <h3 class="about-stat-number fw-bold">1,000+</h3>
                            <p class="about-stat-description text-muted mb-0">Créditos otorgados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner con video -->
<section class="video-banner-section py-5 my-5 bg-white">
    <div class=".video-container"
        onclick="this.querySelector('video').paused ? this.querySelector('video').play() : this.querySelector('video').pause()">
        <video muted loop playsinline onended="this.play()">
            <source src="assets/videos/COONADOC.mp4" type="video/mp4">
        </video>
    </div>
</section>

<!-- Nuestros Valores -->
<section class="our-values py-5">
    <div class="container">
        <div class="row align-items-center bg-light rounded about-values">
            <div class="col-md-6 position-relative">
                <img src="assets/img/valores.jpg" class="about-values-img" alt="Nuestros valores Coonadoc">
                <div class="about-experience bg-white shadow p-2 mt-n5 ms-3 rounded text-center">
                    <h4 class="fw-bold mb-0">20+</h4>
                    <small class="text-muted">Años de experiencia</small>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <small class="section-subtitle-ourValues text-muted">Nuestros Valores</small>
                <h2 class="section-title fw-bold">Eficiencia, confianza y calidez</h2>
                <p class="section-description text-secondary">
                    Orientan todas las actuaciones de COONADOC gestionando los
                    bienes comunes con máximo beneficio, una actitud prudente y
                    relaciones humanas que promueven el bienestar y la solidaridad.
                </p>

                <div class="accordion about-accordion" id="aboutAccordion">
                    <div class="accordion-item about-accordion-item">
                        <h3 class="accordion-header about-accordion-header" id="headingMission">
                            <button class="accordion-button about-accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseMission" aria-expanded="false"
                                aria-controls="collapseMission">
                                Nuestra Misión
                            </button>
                        </h3>
                        <div id="collapseMission" class="accordion-collapse about-accordion-collapse collapse"
                            aria-labelledby="headingMision" data-bs-parent="#aboutAccordion">
                            <div class="accordion-body about-accordion-body">
                                COONADOC desarrolla el modelo solidario, orientada a
                                satisfacer necesidades y expectativas a través de servicios y
                                beneficios de calidad, contribuyendo a la calidad de vida de
                                sus asociados y familias.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item about-accordion-item">
                        <h3 class="accordion-header about-accordion-header" id="headingVision">
                            <button class="accordion-button about-accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseVision" aria-expanded="false"
                                aria-controls="collapseVision">
                                Nuestra Visión
                            </button>
                        </h3>
                        <div id="collapseVision" class="accordion-collapse about-accordion-collapse collapse"
                            aria-labelledby="headingVision" data-bs-parent="#aboutAccordion">
                            <div class="accordion-body about-accordion-body">
                                COONADOC para el año 2029 incrementará su base social
                                en más de 1.000 asociados, a través de la gestión social, el
                                empoderamiento de los valores corporativos de eficiencia,
                                eficacia y calidez y la prestación de servicios generando
                                transformación de vida, con las políticas del buen-vivir y el
                                bien-estar, siguiendo los principios del cooperativismo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>