<!-- Auxilios -->
<section class="about-us-section position-relative text-white mb-5">
    <img src="assets/img/auxilios.png" class="about-us-img w-75 d-block mx-auto" alt="Equipo COONADOC">
    <h1 class="about-us-title position-absolute top-50 start-50 translate-middle display-3 fw-bold" style="color: #ff6600; z-index: 2;">
      Auxilios
    </h1>
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.3); z-index: 1;"></div>
  </section>

<!-- Auxilios -->
  <section class="associate-section py-5 my-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-md-6 order-md-2">
                <img src="assets/img/Auxilio-edu.jpg" class="img-fluid associate-img">
            </div>
            <div class="col-md-6 order-md-1">
                <h2 class="section-title">Auxilio Educativo Coonadoc</h2>
                <h3 class="section-subtitle">Requisitos:</h3>
                <li>Ser asociado con derechos plenos.</li>
                <li>Ser asociado hábil de la Cooperativa en el
                    momento de hacer la solicitud. (estar a paz y
                    salvo por todo concepto).</li>
                <li>Presentar solo un hijo por asociado.</li>
                <li>No podrá presentarse más de una solicitud
                    en nombre de un mismo beneficiario y debe
                    anexar constancia vigente de matrícula.</li>
                <li>Presentar la orden de matrícula de la
                    universidad efectivamente pagada donde se
                    evidencie los datos del estudiante y el año
                    académico en curso.</li>
                <li>Diligenciar la solicitud con base y dentro
                    de los términos establecidos en el presente
                    reglamento.</li>
                <li>Anexar a la solicitud fotocopias de: cédula
                    de ciudadanía, registro civil del beneficiario y
                    autorización de desembolso a cuenta
                    personal o acercarse de forma presencial
                    para el desembolso.</li>
                <li>Haber realizado el curso de inducción
                    cooperativismo y estar vigente presentando
                    el soporte.</li>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <img src="assets/img/educativo.jpg" class="img-fluid benefits-img" alt="Beneficios">
            </div>
            <div class="col-md-6">
                <h3 class="section-subtitle-ass">Auxilio educativo que se otorga a los hijos de los asociados y a los asociados 
                    que esten realizando su pregrado.
                </h3>
            </div>
        </div>

        <section class="associate-section py-5 my-5">
            <div class="container">
                <div class="row align-items-center mb-5">
                    <div class="col-md-6 order-md-2">
                        <img src="assets/img/aux-educat.jpg" class="img-fluid associate-img">
                    </div>
                    <div class="col-md-6 order-md-1">
                        <h2 class="section-title">Auxilio por contingencias o accidentes graves del asociado</h2>
                    </div>
                </div>

                <div class="row align-items-center mb-5">
                    <div class="col-md-6">
                        <img src="assets/img/aux-inv.png" class="img-fluid benefits-img" alt="Beneficios">
                    </div>
                    <div class="col-md-6">
                        <h3 class="section-subtitle-ass">Auxilio por retiro del servicio activo del cargo por invalidez,
                            toda vez que no reciba pension. 
                        </h3>
                    </div>
                </div>

                <section class="associate-section py-5 my-5">
                    <div class="container">
                        <div class="row align-items-center mb-5">
                            <div class="col-md-6 order-md-2">
                                <img src="assets/img/aux-lab.png" class="img-fluid associate-img">
                            </div>
                            <div class="col-md-6 order-md-1">
                                <h2 class="section-title">Auxilio por incapacidad laboral del asociado superior o igual a 30 dias.
                                    Este se dara solo una vez al año.
                                </h2>
                            </div>
                        </div>


                        <div class="row align-items-center mb-5">
                            <div class="col-md-6">
                                <img src="assets/img/Aux-fall.png" class="img-fluid benefits-img" alt="Beneficios">
                            </div>
                            <div class="col-md-6">
                                <h3 class="section-subtitle-ass">Auxilio a los beneficiarios por fallecimiento del asociado. 
                                </h3>
                            </div>
                        </div>