<h2 class="main-title">Cooperativa Nacional de Docentes</h2>
<p class="description">
    COONADOC desarrolla el modelo solidario, orientada a satisfacer
    necesidades y expectativas a través de servicios y beneficios de
    calidad, contribuyendo a la calidad de vida de sus asociados y
    familias
</p>

<div class="four-sections">
    <div class="section">
        <h3 class="section-title">APP COONADOC</h3>
        <p class="section-description">Es una aplicación que le permitira estar informado de sus transacciones.</p>
        <a href="#" class="campus-link">APP COONADOC</a>
    </div>
    <div class="section">
        <h3 class="section-title">MI PAGO AMIGO</h3>
        <p class="section-description">Realice sus pagos de forma fácil y segura desde cualquier lugar.</p>
        <a href="#" class="campus-link">MI PAGO AMIGO</a>
    </div>
    <div class="section">
        <h3 class="section-title">OFICINA VIRTUAL</h3>
        <p class="section-description">Adquiera información, uno de nuestros agentes le atenderá.</p>
        <a href="#" class="campus-link">OFICINA VIRTUAL</a>
    </div>
    <div class="section">
        <h3 class="section-title">PQRSDF</h3>
        <p class="section-description">Radique sus solicitudes, quejas, reclamos o sugerencias por medio de nuestro
            buzón.</p>
        <a href="#" class="campus-link">PQRSDF</a>
    </div>
</div>

<div class="statistics">
    <div class="stat">1280 Estudiantes + 16 profesores.</div>
    <div class="stat">631 Usuarios activos</div>
    <div class="stat">1 ¡Cursos hechos para ti!</div>
</div>

<div class="cursos-disponibles">
    <h2 class="section-title">Cursos disponibles</h2>
</div>