.map {
  width: 100vw; 
  position: relative;
  overflow: hidden;
}

.map iframe {
  width: 100vw !important;
  height: 450px;
  border: 0;
  display: block;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact .row {
  justify-content: center;
  width: 100%;
}

.contact-card {
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-card .icono {
  font-size: 3.5rem;
  color: #000000; 
  padding: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .contact-card {
      padding: 0.9rem;
  }
  contact-card .icono {
    font-size: 2.5rem;
}
}

@media (max-width: 768px) {
  .contact-card {
      padding: 0.85rem;
  }
  contact-card .icono {
    font-size: 2.5rem;
}
}

@media (max-width: 576px) {
  .contact-card {
      padding: 0.75rem;
  }
  
  .contact-card .icono {
      font-size: 2.5rem;
  }
  
  .contact-text p {
      font-size: 0.9rem;
  }
}

/* ========== */
/* FORMULARIO */
/* ========== */
.pregunta-section {
  background-color: #f1f1f1;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.pregunta h2 {
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.preguntaForm {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 2rem 2rem;
  max-width: 700px;
  width: 100%;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #212529;
  display: block;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: 0.75rem 0;
  font-size: 1rem;
  box-shadow: none;
  transition: border-color 0.3s;
  border-radius: 0;
  width: 100%;
  background-color: transparent;
}

.form-control:focus {
  border-color: var(--color-secundario-claro);
  box-shadow: none;
  outline: none;
}

button.btn-primary {
  background-color: var(--color-secundario-claro);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: auto;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.btn-primary:hover {
  background-color: var(--color-secundario);
}

textarea.form-control {
  resize: vertical;
  min-height: 150px;
  border-bottom: 1px solid #ced4da;
}

@media (max-width: 768px) {
  .pregunta {
    padding: 1.5rem;
  }

  .form-control {
    font-size: 0.95rem;
  }
  
  .preguntaForm {
    padding: 1.5rem;
  }
}