<section class="politicas-section py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="categories-container">
                    <h2 class="categories-title">Categorías</h2>
                    <ul class="nav flex-column categories-list">
                        <li class="nav-item">
                            <button class="nav-link" (click)="cambiarCategoria('solicitudes')"
                              [class.active]="categoriaActual === 'solicitudes'">
                              Solicitudes
                            </button>
                          </li>
                          <li class="nav-item">
                            <button class="nav-link" (click)="cambiarCategoria('autorizaciones')"
                              [class.active]="categoriaActual === 'autorizaciones'">
                              Autorizaciones
                            </button>
                          </li>
                          <li class="nav-item">
                            <button class="nav-link" (click)="cambiarCategoria('politicas')"
                              [class.active]="categoriaActual === 'politicas'">
                              Políticas
                            </button>
                          </li>                          
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                @if (categoriaActual === 'solicitudes') {
                <div class="title-container mb-5">
                    <h2 class="section-title text-center position-relative">
                        <span class="title-content bg-white px-3">Solicitudes</span>
                    </h2>
                    <hr class="title-line">
                </div>
                <div class="row justify-content-center">
                    @for (doc of documentosFiltrados; track doc.nombreArchivo) {
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="image-hover-container shadow position-relative">
                            <img [src]="doc.imagen" class="img-fluid" [alt]="doc.nombre">
                            @if (doc.mostrarHover) {
                            <div class="hover-options">
                                <button (click)="verOnline(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-secondary btn-sm">Ver online</button>
                                <button (click)="descargar(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-dark btn-sm">Descargar</button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
                }

                @if (categoriaActual === 'autorizaciones') {
                <div class="title-container mb-5">
                    <h2 class="section-title text-center position-relative">
                        <span class="title-content bg-white px-3">Autorizaciones</span>
                    </h2>
                    <hr class="title-line">
                </div>
                <div class="row justify-content-center">
                    @for (doc of documentosFiltrados; track doc.nombreArchivo) {
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="image-hover-container shadow position-relative">
                            <img [src]="doc.imagen" class="img-fluid" [alt]="doc.nombre">
                            @if (doc.mostrarHover) {
                            <div class="hover-options">
                                <button (click)="verOnline(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-secondary btn-sm">Ver online</button>
                                <button (click)="descargar(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-dark btn-sm">Descargar</button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
                }

                @if (categoriaActual === 'politicas') {
                <div class="title-container mb-5">
                    <h2 class="section-title text-center position-relative">
                        <span class="title-content bg-white px-3">Políticas</span>
                    </h2>
                    <hr class="title-line">
                </div>
                <div class="row justify-content-center">
                    @for (doc of documentosFiltrados; track doc.nombreArchivo) {
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="image-hover-container shadow position-relative">
                            <img [src]="doc.imagen" class="img-fluid" [alt]="doc.nombre">
                            @if (doc.mostrarHover) {
                            <div class="hover-options">
                                <button (click)="verOnline(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-secondary btn-sm">Ver online</button>
                                <button (click)="descargar(doc.nombreArchivo, doc.categoria)"
                                    class="btn btn-dark btn-sm">Descargar</button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</section>