<section class="credit-section position-relative text-white">
    <img src="assets/img/backgrounds/bg_10.png" class="credit-img w-100">
    <h1 class="credit-title position-absolute top-50 start-50 translate-middle display-3 fw-bold text-center">CRÉDITOS
    </h1>
</section>

<section class="asi-section pb-5">
    <div class="container pt-5">
        <div class="row align-items-center gap-5">
            <div class="col-md-6 order-md-2">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="reasons-text me-2">Así son nuestros</span>
                    <span class="organization-badge">Créditos</span>
                </div>
                <p class="pt-4 fs-5">En Coonadoc te apoyamos a cumplir tus metas con créditos de tasas fijas, plazos
                    flexibles y sin cargos ocultos.</p>
            </div>
            <div class="col-md-5">
                <div class="img-container overflow-hidden">
                    <img src="assets/img/rec/creditos-1.png" class="img-fluid w-100 h-auto">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tipos-section py-5">
    <div class="container py-5">
        <div class="row g-5">
            @for (tipo of tiposCreditos; track tipo.nombre; let i = $index) {
            <div class="col-12 mb-5">
                <div class="card h-100 rounded-4 border-0">
                    <div class="row g-0 h-100">
                        <div class="col-md-6 {{i % 2 === 0 ? 'order-md-1' : 'order-md-2'}}">
                            <img [src]="'assets/img/creditos/' + tipo.imagen" class="img-fluid h-100 w-100 rounded-4" alt="{{tipo.nombre}}">
                        </div>
                        <div class="col-md-6 d-flex flex-column {{i % 2 === 0 ? 'order-md-2' : 'order-md-1'}}">
                            <div class="card-body d-flex flex-column h-100">
                                <h5 class="fw-bold display-6 mb-2">{{ tipo.nombre }}</h5>
                                <p class="card-text fs-5 flex-grow-1">{{ tipo.descripcion }}</p>
                                @if (tipo.caracteristicas) {
                                <div class="mt-3">
                                    <ul class="list-group fs-5">
                                        @for (req of tipo.caracteristicas.split('.'); track $index) {
                                        @if (req.trim()) {
                                        <li>{{ req.trim() }}</li>
                                        }
                                        }
                                    </ul>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<app-forms-credito></app-forms-credito>